.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  color: #000000;
  background-color: var(--third-color-text);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-close {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--main-color-text);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  transform: translateY(-50%);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-message {
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  margin-top: 4px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    border-color: var(--accent-color);
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::placeholder {
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-check-description {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 20px;
  margin-bottom: 30px;

  color: var(--second-color-text);

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color-text);

    margin-right: 8px;

    .modal-form-term:checked + & {
      background-image: url("../images/check.svg");
      background-color: var(--accent-color);
      border: none;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.modal-form-link {
  color: var(--accent-color);
}

.modal-form-button {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;

  min-width: 200px;
  padding: 10px 25px;

  background-color: var(--accent-color);
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
