.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .header & {
    display: flex;
    align-items: center;
  }

  .hero & {
    padding: 200px 252px;
    text-align: center;
  }
}
