:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color-text: #212121;
  --second-color-text: #757575;
  --third-color-text: #ffffff;
  --section-pt: 94px;
  --section-pb: 94px;
}
